$main-color: skyblue;

body {
  background-color: $main-color;
}

.product-item {
  cursor: pointer;
}

.appbar__link, .navbar__link {
  cursor: pointer;
  &:hover {
    color: blue;
  }
  &.hidden {
    display: none;
  }
}
